@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ===== Scrollbar CSS ===== */
/* Firefox Scrollbar CSS */
* {
  scrollbar-width: auto;
  scrollbar-color: #abababcc transparent;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-1 h-1 sm:w-1.5 sm:h-1.5;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Scrollbar thumb */
*::-webkit-scrollbar-thumb {
  @apply bg-[#ABABABCC]
         rounded-full
         border
         border-white;
}
/* ===== Scrollbar CSS ===== */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
